@import 'modern-normalize/modern-normalize.css';

$dark: #161a1d;
$light: #f8f9fa;
$primary: #4361ee;
$secondary: #ff7900;

body {
  background-color: $light;
  color: $dark;
  font-size: 1.125rem;
}

h1 {
  font-size: 2.75rem;
}

a {
  color: $primary;
}

.container {
  margin: auto;
  max-width: 40rem;
  text-align: center;
}

.count {
  display: block;
  font-size: 1.5rem;
  padding: 1rem 0 2rem;
}

.button-group {
  padding: 1.5rem 0;

  & > button {
    margin: 0 0.5rem;
  }
}

.button {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: $light;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;

  &:hover {
    opacity: 0.85;
  }

  &:focus {
    outline: none;
  }
}

.bg {
  &-primary {
    background-color: $primary;
  }
  &-secondary {
    background-color: $secondary;
  }
}
