@import 'modern-normalize/modern-normalize.css';

$gray: #f8f9fa;
$blue: #0037ff;

body {
  background-color: $gray;
}

h1 {
  font-size: 2.75rem;
}

.container {
  margin: auto;
  max-width: 40rem;
  text-align: center;
}

.count {
  display: block;
  font-size: 1.5rem;
  padding: 2rem 0;
}

.button-group {
  padding: 1rem 0;

  & > button {
    margin: 0 0.5rem;
  }
}

.button {
  background-color: $blue;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: $gray;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;

  &:hover {
    opacity: 0.85;
  }

  &:focus {
    outline: none;
  }

  &--outline {
    background-color: $gray;
    border: 1px solid $blue;
    color: $blue;

    &:hover {
      background-color: $blue;
      color: $gray;
    }
  }
}
